<%= form_with(model: library, local: true) do |form| %>
  <% if library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  
  <br>

	ADD INFO<br><%= form.text_area :message, size: "40x4" %><br>	
	<br>PUBLISH DATE<br><%= form.date_field :pub_date %><br>
	<br>ENTER YOUR EMAIL<br>	<%= form.email_field :address %><br>
	<br>ENTER MOBILE NO.<br>	<%= form.telephone_field :phone %><br>
	<br>CHOOSE A PACKAGE GIFT WRAP COLOR<br>	<%= form.color_field :color %><br>


<br>
<div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
  <br>
