<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @library.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @library.price %>
</p>

<p>
  <strong>Message:</strong>
  <%= @library.message %>
</p>

<p>
  <strong>Published Date:</strong>
  <%= @library.pub_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @library.address %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @library.phone %>
</p>

<p>
  <strong>Color:</strong>
  <%= @library.color %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
